<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>

    <body>

        <header>
            <h2>
                <%= title %>
            </h2>
            <%- include('partials/navbar.ejs') %>
        </header>

        <div class="boxRegister">

            <form class="registerForm">
                <div class="teste">
                    <% users.forEach((user)=> { %>
                        <li class="listClient">
                            <%= user.name %> - <%= user.email %> - Idade: <%= user.age %> -
                                <a href="/edit?id=<%= user._id %>"><br>[editar]</a> -
                                <a href="/remove/<%= user._id %>">[remover]</a>
                                       
                        </li>
                        <% }) %>
                    </div>
            </form>
        </div>
        <%- include('partials/foot.ejs') %>

    </body>

</html>