<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs') %>

    <body>
        <header>
            <h1>
                <%= title %>
            </h1>

            <%- include('partials/navbar.ejs') %>
        </header>

        <% if (typeof message !=='undefined' ) { %>
            <%= message%>
                <% } %>
                    <div class="boxRegister">
                        <form action="/register/add" method="POST" class="registerForm">
                            <div class="textField">
                                <div>
                                    <label>Nome</label>
                                </div>
                                <input type="text" name="name" placeholder="Digite o seu nome">
                            </div>
                            <div class="textField">
                                <div>
                                    <label>Idade</label>
                                </div>
                                <input type="text" name="age" placeholder="Digite a sua idade">
                            </div>
                            <div class="textField">
                                <div>
                                    <label>E-mail</label>
                                </div>
                                <input type="text" name="email" placeholder="Digite o seu e-mail">
                            </div>
                            <div class="textField">
                                <div>
                                    <label>Senha</label>
                                </div>
                                <input type="text" name="password" placeholder="Digite a sua senha">
                            </div>
                            <button type="submit">Cadastrar</button>
                        </form>
                    </div>
                    <%- include('partials/foot.ejs') %>
    </body>

</html>